*{
    margin: 0;
    padding: 0;
    font-family: century Gothic;
 }
   
   header{
   background-image: url(../wallpaper.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
 .logo img{

   floot: left;
   width: 280px;
   height:300px;
   border-radius: 50%;
   
}
  .main{
     position:absolute;
     top: 8%;
     left: 3%;

  }
  
  .title{
    position: absolute;
    top : 62%;
    left: 1.5%;
}
  .title h1{
    color: #00FFFF	;
}
   .title2{
    position: absolute;
    top : 1%;
    left: 26%;
    font-size: 32px;
}
 .title2 h1{
    color: #33ccff

;
}

   .para{
    position: absolute;
    top : 18%;
    left: 30%;
    right: 15%;
   font-size: 25px;
   
}
 .para p{
    color: #ffffff;
}
  .button{
    position: absolute;
    top : 59%;
    left: 30%;
    font-size: 32px;
    
}
 .btn{
    color: #ff0000;
   padding: 15px 32px;
  background-color: #660066;
  border-radius:50%;
  diplay: inline-block;
  text-decoration: none;
} 


  .button2{
    position: absolute;
    top : 59%;
    left: 55%;
    font-size: 32px;
    
}
 .btn1{
    color: #ff0000;
   padding: 15px 32px;
  background-color: #660066;
  border-radius:50%;
  diplay: inline-block;
  text-decoration: none;
}
  .button3{
    position: absolute;
    top : 73%;
    left: 38%;
    font-size: 32px;
    
}
 .btn2{
    color: #ff0000;
   padding: 15px 32px;
  background-color: #660066;
  border-radius:50%;
  diplay: inline-block;
  text-decoration: none;
}
  .title6{
    position: absolute;
    top : 70%;
    left: 1.5%;
}
  .title6 h1{
    color: #00FFFF	;
}










